orc.lib.web.HTTPGet / HTTPPost character encoding errors

```
Two errors related to character encoding in our HTTP sites:

1. The HTTP "Content-Encoding" header is NOT the character encoding, but the 
type of compression applied (such as gzip) to the content.  The character 
encoding is the "charset" parameter of the "Content-Type" header.

2. Defaults: RFC 2616 § 3.7.1 says: "When no explicit charset parameter is 
provided by the sender, media subtypes of the "text" type are defined to have a 
default charset value of "ISO-8859-1" when received via HTTP."

http://www.ietf.org/rfc/rfc2616.txt

```

Original issue reported on code.google.com by `jthywissen` on 16 Sep 2011 at 12:48
